@{
  var centerMode = false;
  var verticalCenterClass = string.Empty;
  if (ViewData["CenterMode"] != null && (bool)ViewData["CenterMode"])
  {
    centerMode = true;
    verticalCenterClass = "vertical-center";
  }
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  @if (centerMode)
  {
    <title>Guid.Empty</title>
  }
  else
  {
    <title>@ViewData["Title"] - Guid.Empty</title>
  }
<environment include="Development">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
  @if (centerMode)
  {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
  }
  else
  {
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  }
</environment>
<environment exclude="Development">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
  @if (centerMode)
  {
    <link rel="stylesheet" href="~/css/home.min.css" asp-append-version="true" />
  }
  else
  {
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
  }
</environment>

</head>
<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index">Guid.Empty</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </header>
  <div class="@(verticalCenterClass)">
    <div class="container">
      <main role="main" class="pb-3">
        @RenderBody()
      </main>
    </div>
  </div>

  <footer class="border-top footer text-muted">
    <div class="container">
      &copy; @(DateTime.UtcNow.Year == 2020 ? "2020" : $"2020 - {DateTime.UtcNow.Year}") - <a href="https://lazy-developer.xyz/" target="_blank">Lazy Developer</a> - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
  </footer>

  <environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

  </environment>
  <environment exclude="Development">
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

  </environment>

  @RenderSection("Scripts", required: false)
</body>
</html>
